<article class="tile tile-centered archive-type-<%= post.layout %>">
  <div class="tile-content">
    <p class="tile-title"><%= post.title %></p>
    <p class="tile-subtitle text-gray">
      <a href="<%- url_for(post.path) %>">阅读</a>
      ·
      <% const pdate = post.date; %>
      <time datetime="<%= date_xml(pdate) %>"><%= date(pdate, 'MMM D') %></time>
      <% if (post.tags && post.tags.length){ %>
        ·
        <% post.tags.forEach((tag) => { %>
          <span class="chip"><%= tag.name %></span>
        <% }) %>
      <% } %>
    </p>
  </div>
</article>
