<article id="<%= post.layout %>-<%= post.slug %>" class="article-type-<%= post.layout %>" itemscope itemprop="blogPost">
  <%- partial('post/gallery') %>
  <% if (post.link || post.title){ %>
    <header class="text-center">
      <%- partial('post/title', {class_name: 'title'}) %>
      <ul class="meta">
        <li>
          <a href="<%- url_for(post.path) %>">
            <i class="fa fa-link" aria-hidden="true"></i>
          </a>
        </li>
        <%- partial('meta/category') %>
        <%- partial('meta/tag') %>
      </ul>
    </header>
  <% } %>
  <div class="content" itemprop="articleBody">
    <% if (post.excerpt && index){ %>
      <%- post.excerpt %>
      <% if (theme.excerpt_link){ %>
        <p class="article-more-link">
          <a href="<%- url_for(post.path) %>#more"><%= theme.excerpt_link %></a>
        </p>
      <% } %>
    <% } else { %>
      <%- post.content %>
    <% } %>
  </div>
  <%- partial('post/author') %>
</article>
<footer>
</footer>
<%- partial('post/nav') %>
