<article id="<%= post.layout %>-<%= post.slug %>" class="article-type-<%= post.layout %>" itemscope itemprop="blogPost">
  <%- partial('post/gallery') %>
  <% if (post.link || post.title){ %>
    <header class="text-center">
      <%- partial('post/title', {class_name: 'title'}) %>
      <div>
        <%- partial('post/date', {class_name: '', date_format: null}) %>
        <%- partial('post/category') %>
      </div>
    </header>
  <% } %>
  <div itemprop="articleBody">
    <% if (post.excerpt && index){ %>
      <%- post.excerpt %>
      <% if (theme.excerpt_link){ %>
        <p class="article-more-link">
          <a href="<%- url_for(post.path) %>#more"><%= theme.excerpt_link %></a>
        </p>
      <% } %>
    <% } else { %>
      <%- post.content %>
    <% } %>
  </div>
  <hr>
  <div class="columns">
    <div class="column">
      <figure class="avatar avatar-xl">
        <img src="https://avatars2.githubusercontent.com/u/16837579?v=4" alt="avatar">
      </figure>
    </div>
  </div>
  <footer>
    <%- partial('post/tag') %>
  </footer>
  <%- partial('post/nav') %>
</article>
